<!DOCTYPE HTML>
<HTML>


<head>
<link rel="stylesheet" type="text/css" href="KeysianAboutUs.css"/>

<div class="navigation">
<div class="logo">
<img src="Keysian.PNG" height="50" width="80"/><br>
</div>
<a href = "#">Home</a>
<a href = "#">About Us</a>
<a href = "#">Contact Us</a>
</div>
<h1>KEYSIAN AUCTIONEERS<h1>
</head>


<body>
<h2>About Us</h2>
<div class="About">
<h2>Background information</h2><br>
<p>Keysian Auctioneers was registered in the year 1998, fundamentally to carry out Court Brokerage and auctioneering services and perform related functions as may be defined in the Auctioneers Act. It was established by persons of exemplary integrity and immense experience in areas of professionalism such as Law, Marketing, Finance and Management.
Since its inception, Keysian Auctioneers has continued to impress its ever-growing clientele by splendid service delivery, thanks to the unity of our dedicated and result oriented members of staff. Our expertise in execution of Decrees and Instructions has made us win confidence of majority of clients in this very competitive market pitting us as one of the most successful Auctioneering Company within the locality.
We have over 10 years of teamwork ethic in our work, guaranteeing quality and unmatched service delivery in the vast jurisdiction of the Republic of Kenya in sale of immovable property.
Further to our farsighted commitment to distinctive investment we are geared towards delivery of outstanding performance to our client’s satisfaction.</p><br>
<h2>Geographical Coverage</h2>
<p>Repossession, realization of securities, sale of moveable and immovable property by Public Auction or any other mode of sale competition throughout the Republic of Kenya.</p>
<p>Execution of court orders and distress for rent in the Districts of Nairobi and Kajiado.</p>
<h2>Our Vision</h2>
<p>To become the most cherished pillar in delivery of Auctioneering Services.</p>
<h2>Our Mission</h2>
<p>To make the interests of our clients the cornerstone upon which we deliver
professional services.</p>
<h2>Company Structure</h2>
<p>The Company is managed by strong and able professionals drawn from the departments of Finance, Marketing, Legal and Operations under the leadership of the Auctioneer.
1. Muganda Wasulwa Auctioneer class ‘B’<br>
2. Fredrick Otieno General Manager<br>
3. Collins Onguru Operations<br>
4. Willis Ongalo Marketing<br>
5. Derrick Odhiambo Accounts<br>
6. Alvin Anjao Legal Advisor<br></p>
<h2>Risk/Insurance Cover</h2>
<p>We have an elaborate insurance cover for professional indemnity and against Fire & Perils, Burglary and bond with Amaco Insurance Company Ltd as provided by the Law (Auctioneers Act).</p>

	</div>
<div class="Footer">
<div class="BriefHistory">
<h3>Brief History</h3>
<p>Keysian Auctioneers was registered in the year 1998, fundamentally to carry out Court Brokerage and auctioneering services and perform related functions as may be defined in the Auctioneers Act. It was established by persons of exemplary integrity and immense experience in...</p>
</div>
<div class="WhatWeDo">
<h3>What We Do</h3>
<p>Our wide range of services includes:-<br>
*General Auctioneering<br>
*Debt Collection<br>
*Court Brokerage<br>
*Repossessions</p>
</div>
<div class="ReachUs">
<h3>How To Reach Us</h3>
<p>Business Location,<br>
Lap Trust/Cannon House,<br>
3rd. Floor,<br>
Haile Selassie Avenue,<br>
Nairobi.</p>

</div>
<div class="GeographicalFootprint">
<h3>Our Geographical Footprint</h3>
<p>Repossession, realization of securities, sale of moveable and immovable property by Public Auction or any other mode of sale competition throughout the Republic of Kenya.
Execution of court orders and distress for rent in the Districts of Nairobi and Kajiado.</p>

</div>


</div>
	
</body>

</HTML>
